{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="flex justify-evenly">
    <div id="categories" class="grid grid-cols-3 gap-8">
        {% for category in categories %}
            <div id="item-{{forloop.counter0}}" class="flex flex-col gap-2 items-center p-4 rounded-lg border border-gray-400 ">
                <h1 id="item-name-{{forloop.counter0}}" class="font-black text-xl">{{category.name}}</h1>
                <img class="w-full h-60 object-cover rounded-xl" src="{{category.src}}" alt="{{category.name}}">
                <div class="flex gap-4">
                    <input id="item-count-{{forloop.counter0}}" value="15" type="number" class="mt-4 w-20 h-10 border border-gray-300 rounded-xl" placeholder="Q">
                    <input id="item-price-{{forloop.counter0}}" value="15" type="number" class="mt-4 w-20 h-10 border border-gray-300 rounded-xl" placeholder="P">
                    <button onclick="addItem(this, '{{forloop.counter0}}')" class="mt-4 w-20 h-10 bg-green-400 rounded-xl hover:border hover:border-slate-800 hover:bg-transparent">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <!-- <i class="fa-solid fa-check"></i> -->
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex flex-col gap-4 mb-10">
        <div id="order-items-id" class="flex flex-col sticky top-28 gap-4 border border-gray-400 p-4 hidden">
        </div>
    </div>
</div>
<script>
    let items = [
        //  {
        //     name: 'item1',
        //     count: 10,
        //     price: 10,
        //     src: 'https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg'
        // },
    ];
    let order_id = null;
    function    displayItems() {
        console.log('-------------display items-------------');
        const orderItems = document.getElementById('order-items-id');
        orderItems.innerHTML = '';
        orderItems.classList.remove('hidden');
        items.forEach((item, index) => {
            const div = document.createElement('div');
            div.classList.add('item-row', 'flex', 'flex-row', 'gap-4', 'items-center', 'p-4', 'rounded-lg', 'border', 'bg-gray-200');
            div.innerHTML = `
                <img class="w-20 h-20 object-cover rounded-xl" src="${item.src}" alt="${item.name}">
                <h1 id="order-item-name-${index}" class="font-black text-xl">${item.name}</h1>
                <input id="order-item-count-${index}" value="${item.count}" name="item_count" type="number" class="w-20 h-11 border border-gray-300 rounded-xl" placeholder="Q">
                <input id="order-item-price-${index}" value="${item.price}" name="item_price" type="number" class="w-20 h-11 border border-gray-300 rounded-xl" placeholder="P">
                <button onclick='removeItemFromDisplayItems(this, ${index})' class="w-10 h-10 bg-red-400 rounded-md hover:border hover:border-slate-800 hover:bg-transparent">
                    <i class="fa-solid fa-trash"></i>
                </button>
            `;
            orderItems.appendChild(div);
        });
        if (items.length)
            orderItems.innerHTML += `
                <button id='submit-button' onclick="submitOrder()" class="w-full h-12 bg-green-400 text-2xl rounded-xl hover:border hover:border-slate-800 hover:bg-transparent">
                    ${order_id ? '<i class="fa-solid fa-pen"></i>' : '<i class="fa-solid fa-check"></i>'}
                </button>
            `;
        else
            orderItems.classList.add('hidden');
    };
    function removeItemFromDisplayItems(button, index) {
        console.log('index:', `order-item-name-${index}`);
        const name = document.getElementById(`order-item-name-${index}`).innerText;
        items = items.filter(item => item.name !== name);
        displayItems();
    }
    function addItem(button, index) {
        const name = document.getElementById(`item-name-${index}`).innerText
        const count = document.getElementById(`item-count-${index}`).value;
        const price = document.getElementById(`item-price-${index}`).value;
        const src = document.getElementById(`item-${index}`).querySelector('img').src;
        // document.getElementById(`categories`).removeChild(document.getElementById(`item-${index}`));
        items.push({
            name: name,
            count: count,
            price: price,
            src: src,
        });
        displayItems();
        console.log('items:', items);
    }
    function removeItem(button, index) {
        const name = document.getElementById(`item-name-${index}`).innerText;
        items = items.filter(item => item.name !== name);
        button.innerHTML = '<i class="fa-solid fa-plus"></i>';
        button.onclick = () => addItem(button, index);
        console.log('items:', items);
        displayItems();
    }
    function    delete_order() {
        // items = [];
        // displayItems();
        console.log('-------------delete order-------------', order_id);
        fetch(`/delete_order/${order_id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        }).then(response => {
            if (!response.ok) {
                throw new Error('Something went wrong');
            }
            return response.json();
        }).then(data => {
            console.log('DELETED SUCCESSFULLY', data);
        }).catch(error => {
            console.log('Errorrrrrrrrrrrrrrrrrrrrrrrrr');
            console.error('Error:', error);
        });
        location.href = '/create';
    }



    function submitOrder() {
        console.log('-------------submit order-------------');
        items = [];
        const rows = document.querySelectorAll('.item-row');

        let url = '/dynamic_form';
        let method = 'POST';
        if (order_id)
        {
            method = 'PUT';
            url = `/update_order/${order_id}`;
        }
        rows.forEach(row => {
            const name = row.querySelector('h1').innerText;
            const count = row.querySelector('[name="item_count"]').value;
            const prix = row.querySelector('[name="item_price"]').value;
            const src = row.querySelector('img').src;

            items.push({
                name: name,
                count: count,
                price: prix,
                src: src,
            })});
        console.log('items:', items);
        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(
                items.map(item => ({
                    name: item.name,
                    count: item.count,
                    price: item.price,
                }))
            )
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Something went wrong');
            }
            return response.json();
        })
        .then(data => {
            console.log('data:', data);
            order_id = data.id;
            displayItems();

            document.getElementById('submit-button').innerHTML = '<i class="fa-solid fa-pen"></i>';
            // document.getElementById('order-infos-id').classList.remove('hidden');
 
            document.getElementById('order-items-id').innerHTML += `
                <div id="order-infos-id" class="w-full flex gap-2">
                    <button onclick="delete_order()" class="bg-green-400 w-40 h-10 rounded-xl flex justify-center items-center font-bold text-lg border hover:border-slate-800 hover:bg-transparent">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button  class="bg-green-400 w-40 h-10 rounded-xl flex justify-center items-center font-bold text-lg border hover:border-slate-800 hover:bg-transparent" href="">
                        <i class="fa-solid fa-print"></i>
                    </button>
                    <a class="bg-green-400 w-40 h-10 rounded-xl flex justify-center items-center font-bold text-lg border hover:border-slate-800 hover:bg-transparent" target="_blank" href="/generate_pdf/${order_id}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </div>
            `;
        })
        .catch(error => {
            console.error('Errrrrrrrrrrrror:');
        });
    }
</script>
{% endblock %}