{% extends 'base.html' %}

{% block title %}Orders{% endblock %}
{% block content %}
    <div class="min-h-screen flex items-center flex-col gap-10">
        <div id="search-container" class="h-10 w-[660px] flex flex-col gap-8">
            <div class="flex items-center justify-evenly">
                <input id="search-input" class="font-bold w-4/5 border px-4 border-gray-300 rounded-xl" type="text" placeholder="Search Order">
                <button id="search-button" class="font-bold rounded-xl h-10 flex px-4 justify-center items-center bg-green-400 hover:border hover:border-slate-800 hover:bg-transparent">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="flex gap-8">
            <select id="period_time" class="w-40 h-10 rounded-xl border border-gray-300">
            {% for pt in period_times %}
                {% if pt == period_time %}
                    <option value={{pt}} selected>{{pt}}</option>
                {% else %}
                    <option value={{pt}}>{{pt}}</option>
                {% endif %}
            {% endfor %}
            </select>
            <button id="search-period_time-button-id" class="w-40 h-10 bg-green-400 rounded-xl hover:border hover:border-slate-800 hover:bg-transparent">Search</button>
        </div>
        <h1>waaaaaaaaaaaaaaaaaaaee333333333333333333333333333333333</h1>
        {% if orders %}
    
        <div id="search-result" class="w-full flex justify-center">
            <table class="table-auto border-collapse border border-gray-200">
                <!-- Table Header -->
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-6 py-3 text-sm font-medium text-black uppercase text-center hover:bg-blue-200">ID</th>
                        <th class="px-6 py-3 text-sm font-medium text-black uppercase text-center">Date</th>
                        <th class="px-6 py-3 text-sm font-medium text-black uppercase text-center">Total</th>
                        <th class="px-6 py-3 text-sm font-medium text-black uppercase text-center">Actions</th>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody class="bg-white">
                    {% for order in orders %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <tr class="border-t border-gray-200">
                    {% else %}
                        <tr class="border-t border-gray-200 bg-gray-100">
                    {% endif %}
                        <!-- Order data -->
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ order.id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ order.date|date:"d M Y | H:i" }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ order.total }}</td>
                        
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium space-x-2">
                            <a class="text-center text-xl transition duration-700 ease-in-out font-black inline-block px-6 py-2 bg-blue-400 rounded-md border hover:border-slate-800 hover:bg-transparent", href="">
                                <i class="fa-solid fa-print"></i>
                            </a>
                            <a href="/generate_pdf/{{order.id}}" class="text-center text-xl transition duration-700 ease-in-out font-black inline-block px-6 py-2 bg-green-400 hover:bg-blue-600 rounded-md border hover:border-slate-800 hover:bg-transparent" , target='_blank')">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="text-2xl font-black text-center text-red-500">No Orders Found</div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('search-period_time-button-id').addEventListener('click', () =>{
                const period_time = document.getElementById('period_time').value;
                console.log('period_time:', period_time);
                window.location.href = `/find_order/${period_time}`;
            })
            document.getElementById('search-button').addEventListener('click', () => {
                const order_id = document.getElementById('search-input').value;
                // document.getElementById('search-a').href = `/generate_pdf?id=${order_id}`;
                fetch(`/search_order/${order_id}`)
                .then(response => 
                {
                    if (!response.ok)
                    {
                        if (response.status === 404)
                        {
                            return response.json().then(data => {
                            document.getElementById('search-result').innerHTML = `<div class="text-2xl font-black text-center text-red-500">Order Not Found</div>`;
                            });
                        }
                        else
                            throw new Error('Something went wrong');
                    }
                    return response.json(); // If response is OK, process the response
                })
                .then((order) => {
                    console.log("kayn::::::", order);
                    const date = new Date(order.date);

                    const day = String(date.getUTCDate()).padStart(2, '0'); // Day (2 digits)
                    const month = String(date.getUTCMonth() + 1).padStart(2, '0'); // Month (2 digits, UTC)
                    const year = date.getUTCFullYear(); // Year

                    const hours = String(date.getUTCHours()).padStart(2, '0'); // Hours (24h UTC)
                    const minutes = String(date.getUTCMinutes()).padStart(2, '0'); // Minutes
                    const seconds = String(date.getUTCSeconds()).padStart(2, '0'); // Seconds

                    const date_string = `${day}/${month}/${year} ${hours}:${minutes}`; //:${seconds}
                    document.getElementById('search-result').innerHTML = `
                            <table class="table-auto border-collapse border border-gray-200">
                                <!-- Table Header -->
                                <thead class="bg-gray-200">
                                    <tr>
                                        <th class="px-6 py-3 text-sm font-bold text-black uppercase text-center hover:bg-blue-200">ID</th>
                                        <th class="px-6 py-3 text-sm font-bold text-black uppercase text-center">Date</th>
                                        <th class="px-6 py-3 text-sm font-bold text-black uppercase text-center">Total</th>
                                        <th class="px-6 py-3 text-sm font-bold text-black uppercase text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white">
                                    <tr class="border-t border-gray-200">
                                        <!-- Order data -->
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">${order.id}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${date_string}</td>
                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">${order.total}</td>
                                        
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium space-x-2">
                                            <a class="text-center text-xl transition duration-700 ease-in-out font-black inline-block px-6 py-2 bg-blue-400 rounded-md border hover:border-slate-800 hover:bg-transparent", href="">
                                                <i class="fa-solid fa-print"></i>
                                            </a>
                                            <a href="/generate_pdf/${order.id}" class="text-center text-xl transition duration-700 ease-in-out font-black inline-block px-6 py-2 bg-blue-400 rounded-md border hover:border-slate-800 hover:bg-transparent" , target='_blank')">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    `;
                })
                .catch(error => {
                    console.error("errrrrrrrrrrrrrrrrrrrroooooooooor")
                    // console.error(error)
                });
            });
        });
    </script>
{% endblock %}